In [1]:
# Libary to import self-made libaries
import sys # https://stackoverflow.com/questions/4383571/importing-files-from-different-folder
sys.path.insert(1, r'C:\Users\ruw\Desktop\RA\Single-use-vs-multi-use-in-health-care\Libaries')

In [2]:
# Importing self-made libaries
import sensitivity as st
import Monte_Carlo as mc
import reload_lib as rl
import life_cycle_assessment as lc
import sens_table as tab
import LCA_plots as lp
import sensitivity_case1 as c1
import sensitivity_case2 as c2


lib = [st, mc, lc, tab, lp, c1, c2]

In [3]:
from copy import deepcopy as dc

In [4]:
# Path to where the code is stored
path = r'C:\Users\ruw\Desktop\RA\Single-use-vs-multi-use-in-health-care'
# Specifying the LCIA method
lcia_method = 'recipe'

ecoinevnt_paths = {'ev391apos' : r"C:\Users\ruw\Desktop\4. semester\EcoInvent\ecoinvent 3.9.1_apos_ecoSpold02\datasets",
                   'ev391consq' : r"C:\Users\ruw\Desktop\4. semester\EcoInvent\ecoinvent 3.9.1_consequential_ecoSpold02\datasets",
                   'ev391cutoff' : r"C:\Users\ruw\Downloads\ecoinvent 3.9.1_cutoff_ecoSpold02\datasets"}
system_path = [r'C:\Users\ruw\Desktop\RA\Single-use-vs-multi-use-in-health-care\Data\databases\case1.xlsx', 
                r'C:\Users\ruw\Desktop\RA\Single-use-vs-multi-use-in-health-care\Data\databases\case2.xlsx']

In [5]:
rl.reload_lib(lib)
variables = st.break_even_initialization(path, lcia_method)

case1_apos already exist
C:\Users\ruw\Desktop\RA\Single-use-vs-multi-use-in-health-care\results\case1_apos
case1_consq already exist
C:\Users\ruw\Desktop\RA\Single-use-vs-multi-use-in-health-care\results\case1_consq
case1_cut_off already exist
C:\Users\ruw\Desktop\RA\Single-use-vs-multi-use-in-health-care\results\case1_cut_off
case2_apos already exist
C:\Users\ruw\Desktop\RA\Single-use-vs-multi-use-in-health-care\results\case2_apos
case2_consq already exist
C:\Users\ruw\Desktop\RA\Single-use-vs-multi-use-in-health-care\results\case2_consq
case2_cut_off already exist
C:\Users\ruw\Desktop\RA\Single-use-vs-multi-use-in-health-care\results\case2_cut_off
Recipe is selected

In [ ]:
df_tot, df_scal = lc.dataframe_element_scaling(variables['case2_apos'][1])
df_tot

    (ReCiPe 2016 v1.03, midpoint (H) - no biogenic, climate change, global warming potential (GWP1000))
SUD                                           1.123484
MUD                                           0.499059

In [7]:
large_SU = False
large_REC = False
small_SU = False
small_rec = False
life_time = 500

test = False

sud = 0
mud = 0

use = 0

for lt in range(1,life_time + 1):

    for col in df_tot.columns:
        for idx, row in df_tot.iterrows():
            if 'SUD' in idx:
                sud = row[col] * lt
                
            else:
                mud = row[col] * 250 / lt
                
        if mud < sud and test == False:
            print(f"SUD = {sud}")
            print(f"MUD = {mud}")
            use = lt
            test = True

use

SUD = 12.35831989287687
MUD = 11.342260585868708

11

In [8]:
variables['case1_apos'][1]

                            (ReCiPe 2016 v1.03, midpoint (H) - no biogenic, climate change, global warming potential (GWP1000))
H200 SU                      [['H200' (unit, GLO, None), 0.2476679279440376...
H200 REC                     [['H200' (unit, GLO, None), 0.2476679279440376...
alubox (small + dishwasher)  [['alubox (small)' (unit, GLO, None), 0.077597...
alubox (small + wipe)        [['alubox (small)' (unit, GLO, None), 0.077597...
H400 SU                      [['H400' (unit, GLO, None), 0.708735870176005]...
H400 REC                     [['H400' (unit, GLO, None), 0.708735870176005]...
alubox (large + dishwasher)  [['alubox (large)' (unit, GLO, None), 0.131076...
alubox (large + wipe)        [['alubox (large)' (unit, GLO, None), 0.131076...

In [9]:
df_tot, df_scal = lc.dataframe_element_scaling(variables['case1_apos'][1])
df_tot

                            (ReCiPe 2016 v1.03, midpoint (H) - no biogenic, climate change, global warming potential (GWP1000))
H200 SU                                                                 0.5339
H200 REC                                                               0.40125
alubox (small + dishwasher)                                           0.467568
alubox (small + wipe)                                                 0.383944
H400 SU                                                               1.358467
H400 REC                                                              0.903042
alubox (large + dishwasher)                                           0.851621
alubox (large + wipe)                                                 0.639172

In [10]:
col = df_tot.columns
dct = df_tot[col].to_dict()
dct_df = {}
for item in dct.values():
    for idx, val in item.items():
        dct_df[idx] = val

dct_df

scenarios = {
    'ASC : H2S' : [dct_df['alubox (small + dishwasher)'], dct_df['H200 SU']],
    'ASC : H2R' : [dct_df['alubox (small + dishwasher)'], dct_df['H200 REC']],
    'ALC : H4S' : [dct_df['alubox (large + dishwasher)'], dct_df['H400 SU']],
    'ALC : H4R' : [dct_df['alubox (large + dishwasher)'], dct_df['H400 REC']],
    'ASW : H2S' : [dct_df['alubox (small + wipe)'], dct_df['H200 SU']],
    'ASW : H2R' : [dct_df['alubox (small + wipe)'], dct_df['H200 REC']],
    'ALW : H4S' : [dct_df['alubox (large + wipe)'], dct_df['H400 SU']],
    'ALW : H4R' : [dct_df['alubox (large + wipe)'], dct_df['H400 REC']],
}

scenarios

{'ASC : H2S': [0.46756820991198483, 0.5338997152795057],
 'ASC : H2R': [0.46756820991198483, 0.4012502454513051],
 'ALC : H4S': [0.851620915095387, 1.35846749987049],
 'ALC : H4R': [0.851620915095387, 0.9030420555735845],
 'ASW : H2S': [0.3839443757626626, 0.5338997152795057],
 'ASW : H2R': [0.3839443757626626, 0.4012502454513051],
 'ALW : H4S': [0.6391719137820697, 1.35846749987049],
 'ALW : H4R': [0.6391719137820697, 0.9030420555735845]}

In [11]:
large_SU = False
large_REC = False
small_SU = False
small_rec = False
life_time = 513+314



use_dct = {}

for sc, lst in scenarios.items():
    alu = 0
    pp = 0
    test = False
    use_dct[sc] = 'Does not break even'
    for lt in range(1,life_time + 1):

        pp = lst[1] * lt
        alu = lst[0] * 513 / lt
                
        if alu < pp and test == False:
            print(f"{sc[-3:]} = {pp}, {sc[:3]} = {alu}, {lt}")
            use_dct[sc] = lt
            test = True

H2S = 11.745793736149126, ASC = 10.902840531129463, 22
H2R = 10.031256136282627, ASC = 9.594499667393928, 25
H4S = 24.452414997668818, ALC = 24.27119608021853, 18
H4R = 19.86692522261886, ALC = 19.858251338360613, 22
H2S = 10.677994305590115, ASW = 9.848173238312295, 20
H2R = 9.228755645380017, ASW = 8.563628902880257, 23
H4S = 21.73547999792784, ALW = 20.493449485637612, 16
H4R = 18.06084111147169, ALW = 16.39475958851009, 20

In [12]:
import pandas as pd
import LCA_plots as lp
import standards as s

In [13]:
513+314

827

In [14]:
file = lp.join_path(path,'results')
save_dir = s.results_folder(file, 'sensitivity', 'be')
file_path = lp.join_path(save_dir, 'break_even_data.xlsx')

sensitivity_be already exist
C:\Users\ruw\Desktop\RA\Single-use-vs-multi-use-in-health-care\results\sensitivity_be

In [15]:
df_GWP = variables['case1_apos'][1]
df_GWP

                            (ReCiPe 2016 v1.03, midpoint (H) - no biogenic, climate change, global warming potential (GWP1000))
H200 SU                      [['H200' (unit, GLO, None), 0.2476679279440376...
H200 REC                     [['H200' (unit, GLO, None), 0.2476679279440376...
alubox (small + dishwasher)  [['alubox (small)' (unit, GLO, None), 0.077597...
alubox (small + wipe)        [['alubox (small)' (unit, GLO, None), 0.077597...
H400 SU                      [['H400' (unit, GLO, None), 0.708735870176005]...
H400 REC                     [['H400' (unit, GLO, None), 0.708735870176005]...
alubox (large + dishwasher)  [['alubox (large)' (unit, GLO, None), 0.131076...
alubox (large + wipe)        [['alubox (large)' (unit, GLO, None), 0.131076...

In [16]:
def df_index(key):
    if '1' in key:
        flow_leg = [
                    'H2S',
                    'H2R',
                    'ASC',
                    'ASW',
                    'H4S',
                    'H4R',
                    'ALC',
                    'ALW'
                    ]
        return flow_leg
    else:
        return ['SUD', 'MUD']

In [17]:
with pd.ExcelWriter(file_path) as writer:
    for key in variables.keys():
        df_GWP = variables[key][1]
        db_type = variables[key][2]
        database_name = variables[key][0]
        
        flow_legend = variables[key][4]
        columns = variables[key][-1]

        columns = lc.unique_elements_list(database_name)

        df_be, ignore = lp.process_categorizing(df_GWP, db_type, database_name, 'break even', flow_legend, columns)
        df_be.index = df_index(key)
        df_be_copy = lp.break_even_orginization(df_be, database_name)
        

        # Write each DataFrame to a different sheet
        sheet_name = f"{key}"
        df_be_copy.to_excel(writer, sheet_name=sheet_name, index=True, header=True)

In [123]:
# flow_legend, colors, save_dir, db_type, database_name = inputs

columns = lc.unique_elements_list(database_name)
case = 'break even'
df_be, ignore = lp.process_categorizing(df_GWP, db_type, database_name, case, flow_legend, columns)

amount_of_uses = 513
df_be

,Raw mat. + prod.,Disinfection,Autoclave,Recycling,Incineration,Avoided energy prod.,Avoided mat. prod.
H2S,0.247668,0.0,0.190792,0.015494,0.203083,-0.123138,0.0
H2R,0.247668,0.0,0.190792,0.067563,0.060219,-0.018471,-0.146522
ASC,0.079466,0.11211,0.296788,0.007174,0.00075,-0.000155,-0.026781
ASW,0.079466,0.057598,0.296788,0.007174,0.035186,-0.018463,-0.026781
H4S,0.708736,0.0,0.381585,0.04408,0.576358,-0.352291,0.0
H4R,0.708736,0.0,0.381585,0.191265,0.087234,-0.052844,-0.412934
ALC,0.133437,0.22422,0.534218,0.006792,0.000375,-0.00031,-0.04478
ALW,0.133437,0.057598,0.534218,0.006792,0.034811,-0.018618,-0.04478

In [127]:

if 'case1' in database_name:
    df_be_copy = lp.break_even_orginization(df_be, database_name)
    # Split index into small and large based on criteria
    small_idx = [idx for idx in df_be_copy.index if '2' in idx or 'AS' in idx]
    large_idx = [idx for idx in df_be_copy.index if idx not in small_idx]

    # Create empty DataFrames for each scenario
    scenarios = {
        'small': pd.DataFrame(0, index=small_idx, columns=df_be_copy.columns, dtype=object),
        'large': pd.DataFrame(0, index=large_idx, columns=df_be_copy.columns, dtype=object)
    }

    # Fill scenarios with data
    for sc_idx, (scenario_name, scenario_df) in enumerate(scenarios.items()):
        scenario_df.update(df_be_copy.loc[scenario_df.index])

        use_cycle, production = {}, {}

        for idx, row in scenario_df.iterrows(): 
            use, prod = 0, 0
            for col in df_be_copy.columns:
                if ('autoclave' in col.lower() or 'disinfection' in col.lower()) and 'H' not in idx:
                    use_cycle[idx] = row[col] + use
                    use += row[col]
                elif 'A' in idx:
                    # print(idx, col ,(row[col] + prod) * amount_of_uses)
                    production[idx] = (row[col] + prod) * amount_of_uses
                    prod += row[col]
                    
                else:
                    production[idx] = row[col] + prod
                    prod += row[col]
        
        # Calculate break-even values
        be_dct = {}
        for key, usage in production.items():
            be_dct[key] = [usage if u == 1 else use_cycle.get(key, usage) * u + usage
                        for u in range(1, amount_of_uses + 1)]
be_dct['ALW']

[48.998428907322975,
 50.214317219925974,
 50.82226137622747,
 51.43020553252897,
 52.03814968883047,
 52.64609384513197,
 53.25403800143347,
 53.86198215773497,
 54.46992631403647,
 55.07787047033797,
 55.68581462663947,
 56.29375878294097,
 56.90170293924247,
 57.50964709554397,
 58.11759125184547,
 58.72553540814697,
 59.33347956444847,
 59.94142372074997,
 60.549367877051466,
 61.157312033352966,
 61.76525618965447,
 62.37320034595597,
 62.98114450225747,
 63.58908865855897,
 64.19703281486046,
 64.80497697116196,
 65.41292112746348,
 66.02086528376498,
 66.62880944006648,
 67.23675359636798,
 67.84469775266948,
 68.45264190897097,
 69.06058606527247,
 69.66853022157397,
 70.27647437787547,
 70.88441853417697,
 71.49236269047847,
 72.10030684677997,
 72.70825100308147,
 73.31619515938297,
 73.92413931568447,
 74.53208347198597,
 75.14002762828747,
 75.74797178458897,
 76.35591594089047,
 76.96386009719197,
 77.57180425349347,
 78.17974840979497,
 78.78769256609647,
 79.39563672239797,
 80.00358087869947,
 80.61152503500097,
 81.21946919130247,
 81.82741334760397,
 82.43535750390546,
 83.04330166020696,
 83.65124581650846,
 84.25918997280996,
 84.86713412911146,
 85.47507828541296,
 86.08302244171446,
 86.69096659801596,
 87.29891075431746,
 87.90685491061896,
 88.51479906692046,
 89.12274322322196,
 89.73068737952346,
 90.33863153582496,
 90.94657569212646,
 91.55451984842796,
 92.16246400472946,
 92.77040816103096,
 93.37835231733246,
 93.98629647363396,
 94.59424062993546,
 95.20218478623696,
 95.81012894253846,
 96.41807309883995,
 97.02601725514145,
 97.63396141144295,
 98.24190556774445,
 98.84984972404595,
 99.45779388034745,
 100.06573803664895,
 100.67368219295045,
 101.28162634925195,
 101.88957050555345,
 102.49751466185495,
 103.10545881815645,
 103.71340297445795,
 104.32134713075945,
 104.92929128706095,
 105.53723544336245,
 106.14517959966395,
 106.75312375596545,
 107.36106791226695,
 107.96901206856845,
 108.57695622486995,
 109.18490038117145,
 109.79284453747294,
 110.40078869377444,
 111.00873285007594,
 111.61667700637744,
 112.22462116267894,
 112.83256531898044,
 113.44050947528196,
 114.04845363158346,
 114.65639778788496,
 115.26434194418646,
 115.87228610048795,
 116.48023025678945,
 117.08817441309095,
 117.69611856939245,
 118.30406272569395,
 118.91200688199545,
 119.51995103829695,
 120.12789519459845,
 120.73583935089995,
 121.34378350720145,
 121.95172766350295,
 122.55967181980445,
 123.16761597610595,
 123.77556013240745,
 124.38350428870895,
 124.99144844501045,
 125.59939260131195,
 126.20733675761345,
 126.81528091391495,
 127.42322507021645,
 128.03116922651793,
 128.63911338281946,
 129.24705753912093,
 129.85500169542246,
 130.46294585172393,
 131.07089000802546,
 131.67883416432693,
 132.28677832062846,
 132.89472247692993,
 133.50266663323146,
 134.11061078953293,
 134.71855494583446,
 135.32649910213593,
 135.93444325843745,
 136.54238741473893,
 137.15033157104045,
 137.75827572734192,
 138.36621988364345,
 138.97416403994492,
 139.58210819624645,
 140.19005235254792,
 140.79799650884945,
 141.40594066515092,
 142.01388482145245,
 142.62182897775392,
 143.22977313405545,
 143.83771729035692,
 144.44566144665845,
 145.05360560295992,
 145.66154975926145,
 146.26949391556292,
 146.87743807186445,
 147.48538222816595,
 148.09332638446745,
 148.70127054076895,
 149.30921469707044,
 149.91715885337194,
 150.52510300967344,
 151.13304716597494,
 151.74099132227644,
 152.34893547857794,
 152.95687963487944,
 153.56482379118094,
 154.17276794748244,
 154.78071210378394,
 155.38865626008544,
 155.99660041638694,
 156.60454457268844,
 157.21248872898994,
 157.82043288529144,
 158.42837704159294,
 159.03632119789444,
 159.64426535419594,
 160.25220951049744,
 160.86015366679894,
 161.46809782310044,
 162.07604197940194,
 162.68398613570344,
 163.29193029200493,
 163.89987444830643,
 164.50781860460793,
 165.11576276090943,
 165.72370691721093,
 166.33165107351243,
 166.93959522981393,
 167.54753938611543,
 168.15548354241693,
 168.76342769871843,
 169.37137185501993,
 169.97931601132143,
 170.58726016762293,
 171.19520432392443,
 171.80314848022593,
 172.41109263652743,
 173.01903679282893,
 173.62698094913043,
 174.23492510543193,
 174.84286926173343,
 175.45081341803493,
 176.05875757433643,
 176.66670173063793,
 177.27464588693942,
 177.88259004324095,
 178.49053419954242,
 179.09847835584395,
 179.70642251214542,
 180.31436666844695,
 180.92231082474842,
 181.53025498104995,
 182.13819913735142,
 182.74614329365295,
 183.35408744995442,
 183.96203160625595,
 184.56997576255742,
 185.17791991885895,
 185.78586407516042,
 186.39380823146195,
 187.00175238776342,
 187.60969654406495,
 188.21764070036642,
 188.82558485666794,
 189.43352901296942,
 190.04147316927094,
 190.64941732557241,
 191.25736148187394,
 191.8653056381754,
 192.47324979447694,
 193.0811939507784,
 193.68913810707994,
 194.2970822633814,
 194.90502641968294,
 195.5129705759844,
 196.12091473228594,
 196.7288588885874,
 197.33680304488894,
 197.9447472011904,
 198.55269135749194,
 199.1606355137934,
 199.76857967009494,
 200.3765238263964,
 200.98446798269794,
 201.5924121389994,
 202.20035629530094,
 202.8083004516024,
 203.41624460790393,
 204.0241887642054,
 204.63213292050693,
 205.2400770768084,
 205.84802123310993,
 206.4559653894114,
 207.06390954571293,
 207.6718537020144,
 208.27979785831593,
 208.8877420146174,
 209.49568617091893,
 210.1036303272204,
 210.71157448352193,
 211.3195186398234,
 211.92746279612493,
 212.5354069524264,
 213.14335110872793,
 213.7512952650294,
 214.35923942133093,
 214.9671835776324,
 215.57512773393393,
 216.1830718902354,
 216.79101604653692,
 217.3989602028384,
 218.00690435913992,
 218.6148485154414,
 219.22279267174292,
 219.8307368280444,
 220.43868098434592,
 221.0466251406474,
 221.65456929694892,
 222.2625134532504,
 222.87045760955192,
 223.4784017658534,
 224.08634592215492,
 224.6942900784564,
 225.30223423475792,
 225.9101783910594,
 226.51812254736092,
 227.1260667036624,
 227.73401085996392,
 228.3419550162654,
 228.94989917256692,
 229.5578433288684,
 230.16578748516991,
 230.7737316414714,
 231.3816757977729,
 231.98961995407439,
 232.5975641103759,
 233.20550826667738,
 233.8134524229789,
 234.42139657928038,
 235.0293407355819,
 235.63728489188338,
 236.2452290481849,
 236.85317320448638,
 237.4611173607879,
 238.06906151708938,
 238.6770056733909,
 239.28494982969238,
 239.8928939859939,
 240.50083814229538,
 241.1087822985969,
 241.71672645489838,
 242.3246706111999,
 242.93261476750138,
 243.5405589238029,
 244.14850308010443,
 244.7564472364059,
 245.36439139270743,
 245.9723355490089,
 246.58027970531043,
 247.1882238616119,
 247.79616801791343,
 248.4041121742149,
 249.01205633051643,
 249.6200004868179,
 250.22794464311943,
 250.8358887994209,
 251.44383295572243,
 252.0517771120239,
 252.65972126832543,
 253.2676654246269,
 253.87560958092843,
 254.4835537372299,
 255.09149789353143,
 255.6994420498329,
 256.3073862061344,
 256.9153303624359,
 257.5232745187374,
 258.1312186750389,
 258.7391628313404,
 259.3471069876419,
 259.9550511439434,
 260.5629953002449,
 261.1709394565464,
 261.7788836128479,
 262.3868277691494,
 262.9947719254509,
 263.6027160817524,
 264.2106602380539,
 264.8186043943554,
 265.4265485506569,
 266.0344927069584,
 266.6424368632599,
 267.2503810195614,
 267.8583251758629,
 268.4662693321644,
 269.0742134884659,
 269.6821576447674,
 270.2901018010689,
 270.8980459573704,
 271.5059901136719,
 272.1139342699734,
 272.7218784262749,
 273.3298225825764,
 273.9377667388779,
 274.5457108951794,
 275.1536550514809,
 275.7615992077824,
 276.3695433640839,
 276.9774875203854,
 277.5854316766869,
 278.1933758329884,
 278.8013199892899,
 279.4092641455914,
 280.0172083018929,
 280.6251524581944,
 281.2330966144959,
 281.8410407707974,
 282.4489849270989,
 283.0569290834004,
 283.6648732397019,
 284.2728173960034,
 284.8807615523049,
 285.4887057086064,
 286.0966498649079,
 286.7045940212094,
 287.3125381775109,
 287.9204823338124,
 288.5284264901139,
 289.1363706464154,
 289.7443148027169,
 290.3522589590184,
 290.96020311531987,
 291.5681472716214,
 292.17609142792287,
 292.7840355842244,
 293.39197974052587,
 293.9999238968274,
 294.60786805312887,
 295.2158122094304,
 295.82375636573187,
 296.4317005220334,
 297.03964467833487,
 297.6475888346364,
 298.25553299093787,
 298.8634771472394,
 299.47142130354086,
 300.0793654598424,
 300.68730961614386,
 301.2952537724454,
 301.90319792874686,
 302.5111420850484,
 303.11908624134986,
 303.7270303976514,
 304.33497455395286,
 304.9429187102544,
 305.5508628665559,
 306.1588070228574,
 306.7667511791589,
 307.3746953354604,
 307.9826394917619,
 308.5905836480634,
 309.1985278043649,
 309.8064719606664,
 310.4144161169679,
 311.0223602732694,
 311.6303044295709,
 312.2382485858724,
 312.8461927421739,
 313.4541368984754,
 314.0620810547769,
 314.6700252110784,
 315.2779693673799,
 315.8859135236814,
 316.4938576799829,
 317.1018018362844,
 317.7097459925859,
 318.3176901488874,
 318.9256343051889,
 319.5335784614904,
 320.1415226177919,
 320.7494667740934,
 321.3574109303949,
 321.9653550866964,
 322.5732992429979,
 323.1812433992994,
 323.7891875556009,
 324.3971317119024,
 325.0050758682039,
 325.6130200245054,
 326.2209641808069,
 326.8289083371084,
 327.4368524934099,
 328.0447966497114,
 328.6527408060129,
 329.2606849623144,
 329.8686291186159,
 330.47657327491737,
 331.0845174312189,
 331.69246158752037,
 332.3004057438219,
 332.90834990012337,
 333.5162940564249,
 334.12423821272637,
 334.7321823690279,
 335.34012652532937,
 335.9480706816309,
 336.55601483793237,
 337.1639589942339,
 337.77190315053537,
 338.3798473068369,
 338.98779146313836,
 339.5957356194399,
 340.20367977574136,
 340.8116239320429,
 341.41956808834436,
 342.0275122446459,
 342.63545640094736,
 343.2434005572489,
 343.85134471355036,
 344.4592888698519,
 345.06723302615336,
 345.6751771824549,
 346.28312133875636,
 346.8910654950579,
 347.49900965135936,
 348.1069538076609,
 348.71489796396236,
 349.3228421202639,
 349.93078627656536,
 350.5387304328669,
 351.14667458916836,
 351.7546187454699,
 352.36256290177135,
 352.9705070580729,
 353.57845121437435,
 354.1863953706759,
 354.79433952697735,
 355.4022836832789,
 356.01022783958035,
 356.6181719958819,
 357.22611615218335,
 357.8340603084849,
 358.44200446478635,
 359.0499486210879,
 359.65789277738935,
 360.2658369336909,
 360.8737810899924]